@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap");

:root {
  --bg-user: #6dc4c8;
  --bg-uni: #246ccf;
  --bg-rndm: #ee7028;
  --bg-apay: #b4b2b1;

  --ff-all: "Hind Madurai", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 15rem;
  max-height: 15rem;
  padding: 3rem;
}

div {
  display: flex;
}

header {
  max-width: 100%;
}
