:root {
  --clr-landing: #9e736a;
  --clr-navigation: #989494;
  --clr-neutral: #fff;
  --clr-content: #f8f9f9;

  --ff-primary: "Abel", sans-serif;
  --ff-content: "Rajdhani", sans-serif;
  --ff-nav: "Bebas Neue", cursive;
  --ff-header: "Russo One", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  background: var(--clr-landing);
  text-align: center;
  font-size: 120%;
  position: relative;
  max-width: 100%;
  min-width: 20%;
  font-family: var(--ff-header);
  padding: 1em;
  border-bottom-left-radius: 3em;
}

nav {
  font-family: var(--ff-nav);
  background-color: rgba(158, 115, 106, 0.6);
  position: sticky;
  align-items: center;
  max-width: 100%;
  min-width: 25%;
  margin-top: 0;
  margin-left: 0;
  list-style-type: none;
  display: flex;
  border-top-right-radius: 3rem;
}

a {
  margin: 1rem;
}

.nav-bar a:link,
a:visited {
  font-family: Impact, sans-serif;
  font-style: italic;
  padding: 16px;
  border: 2px solid --clr-navigation;
  color: rgb(44, 40, 82);
  text-decoration: none;
}
.nav-bar a:hover,
a:active {
  color: var(--clr-neutral);
  font-family: var(--ff-header);
}

#log1,
#log2,
#log3 {
  width: 2rem;
  height: 2rem;
}

#log4 {
  width: 9rem;
  height: auto;
  position: relative;
  align-items: center;
}

section {
  background-color: antiquewhite;
  padding-top: 3rem;
}

.content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.html {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  text-align: center;
  max-width: 100%;
}

.htmlcont {
  padding: 2rem 1rem 0 1rem;
}

table {
  display: block;
  text-align: center;
  max-width: 80%;
  border: 2px solid white;
}

table td,
table th {
  padding: 1rem;
  border: 2px solid white;
  font-family: var(--ff-primary);
}

table th {
  background-color: #989494;
}

table tr:hover {
  background-color: #989494;
  color: rgb(255, 255, 255);
}

.now {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.csscont {
  display: flex;
}

.p1,
.p2,
.p3 {
  max-width: 100%;
  text-align: center;
  padding: 4rem;
}

form {
  text-align: center;
  line-height: 2rem;
  font-family: var(--ff-nav);
}

input[type="text"],
input[type="email"] {
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 2rem;
}

input[type="textarea"] {
  width: 50%;
  height: 3rem;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10rem;
  resize: none;
}

input[type="submit"] {
  border-radius: 60px;
  background-color: rgb(228, 58, 58);
  color: white;
  margin: 1rem;
}

input[type="submit"]:hover {
  box-sizing: border-box;
  border: 300px 200px;
  background-color: rgb(95, 228, 78);
  font-family: var(--ff-primary);
  font-size: 50px;
  transition: 1s;
  color: black;
}

#form1 {
  font-family: var(--ff-nav);
}

footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;
  background-color: rgb(54, 63, 71, 0.8);
  max-width: 100%;
  color: #fff;
  text-align: center;
  align-items: center;
  font-size: 0.5em;
  margin-top: auto;
}

h2 {
  font-family: var(--ff-header);
  text-align: center;
  font-style: italic;
}

h3 {
  font-family: var(--ff-primary);
  text-align: center;
}

h4 {
  text-align: center;
  max-width: 100%;
  background-color: rgba(158, 115, 106, 0.3);
}

h5 {
  text-align: center;
  color: #f8f9f9;
  font-style: italic;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 3px;
}
p {
  text-align: center;
  font-family: var(--ff-nav);
  margin-left: 2em;
  margin-right: 2rem;
}
